body {
    background-color: rgb(79, 14, 14);
}

h1 {
    color: Red;
    margin-left: 20px;
}
h2 {
    color: White;
    margin-left: 20px;
}h3 {
    color: White;
    margin-left: 20px;
p {color:white; font-size:200%}
